---
import ArticleListItem from '../../components/ArticleListItem.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getDirectusClient, readItems } from '../../utils/get-directus-client'

export const prerender = false

const pageTitle = 'Article List'

const client = getDirectusClient()

const allArticles = await client.request(readItems('article'));
---

<BaseLayout pageTitle={pageTitle}>
  <div>{JSON.stringify(allArticles)}</div>
  <h1 class="pt-[1em] text-32px color-red text-center">Article list</h1>
  <br />
  <div class="flex justify-center">
    <ul class="w-50%">
      {
        allArticles.map(article => (
          <ArticleListItem
            data={article}
            url={`/articles/${article.slug}`}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
